<section id="aboutUS" class="jumbotron text-center m-auto flex-column"
         style="background-image: url('/img/map.png'); background-size: cover; height: 93vh">
  <div class="container">
    <h1 class="jumbotron-heading">About us</h1>
  </div>
  <div>
    Today, technology enables everyone a simple way to navigate through the environment. Often people
    want to spend their free time outside their homes and then find themselves
    in a situation where they have no idea where they could be headed. So, we came up with an idea to
    solve this great dilemma, and at the same time to contribute to the development of
    the cultural awareness of people.
  </div>
  <div>
    We have designed a web application that will enable users a quick and simple way to find the location of
    some desired cultural-historical landmarks in Macedonia. In addition, this
    app will suggest users to visit places they didn't even know they existed.
  </div>
  <div>
    The main target group of our application would be the citizens who live in
    our country, but of course it will be of great help to the tourists as well
    that want to visit the cultural-historical landmarks in Macedonia.
  </div>
  <div>
    The main functionality of our web application is to provide users with
    the exact location of the cultural-historical landmark on a map.
    To build our web application we used the open database of OpenStreetMap that helped us
    to get to the exact locations for each landmark.
  </div>
<br><hr><br>
<div>
  <div class="container">
    <h1 class="jumbotron-heading">The team</h1>
  </div>
  <ul class="list-unstyled">
    <li>Ana Stevkovska</li>
    <li>Dejan Ristovski</li>
    <li>Jana Trpkovska</li>
    <li>Stefanija Filipashikj</li>
    <li>Teona Shambar</li>
  </ul>
</div>
</section>